	<div id="contacts" class="sections">
		<div class="content">
			<div class="quote-icon to-top"><i class="fa fa-angle-up"></i></div>
			<div class="container">
			
				<!--contact form -->
									
				<div class="contactForm clear">
					<fieldset id="contact_form">											
								
						<div class="grid-half">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
								
						<div class="grid-half">
							<label for="email" class="em">Email</label>
							<input type="text" name="email" id="email"  class="right" />
						</div>
								
						<label for="message" class="m-top">Message</label>
						<textarea name="message"  id="message" ></textarea>
								
						<div class="clear"></div>
															
						<label>
							<button class="submit_btn transition" id="submit_btn">SEND</button>
						</label>
						<div id="result"></div>
						
					</fieldset>
						
				</div>
		
				<div class="contact-details">
				
	
					<div class="grid-2">
						<div class="smallicon animaper phone"><i class="fa fa-mobile fa-2x"></i></div>
						<span>+7(111)123456789</span>
					</div>
						
					<div class="grid-2 showform">
						<div class="smallicon actform  animaper"><i class="fa fa-envelope-o fa-2x"></i></div>
						<span>yourmail@domain.com</span>
					</div>
						
					<div class="grid-2">
						<div class="smallicon animaper showmap mnv "><i class="fa fa-home fa-2x"></i></div>
						<span>Third Main Street, 27th Brooklyn,<br> NY City 1000-204 NY</span>
					</div>
						
				</div>						
				
			</div>
			
			<!--map-->
			<div class="mapbox">
				<div class="map-decor"></div>
				<div class="close-map"><img src="images/close-white.png" alt=""><div class="triangle"></div></div>
				<div id="map_canvas"></div>
			</div>
			
			<div class="social-list">
				
				<ul>
					<li><a href="#"  target="_blank" class="transition"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"  target="_blank" class="transition"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"  target="_blank" class="transition"><i class="fa fa-linkedin"></i></a></li>	
				</ul>
							
			</div>	
				
			<!-- footer -->
		
			<div class="footer clear">
			
				<p>Cashemir  ©2014  All rights reserved.</p>
				<div class="small-separator ws"></div>
				
			</div> <!--footer end-->
			
		</div>
	</div><!--=============== section contacts end ===============-->