	<div id="facts"  class="sections">

		<!--
		<div class="content">
			<div class="container">
				<h3 class="sections-head">Some fun facts</h3>
				<div class="small-separator ws"></div>
				<ul>
					<li class="grid-2"> 
						
						<div class="milestone-counter">
							
							<div class="stats animaper">
								<div class="num" data-content="91" data-num="91">0</div>
							</div>
								
						</div>
						
						<h6><i class="fa fa-users fa-2x"></i><span>Content Views</span></h6>	
						 
					</li>
					<li class="grid-2"> 
					
						<div class="milestone-counter">
			
							<div class="stats animaper">
								<div class="num" data-content="60" data-num="60">0</div>
							</div>
								
						</div>
							 
						<h6><i class="fa fa-rocket fa-2x"></i><span>Content Views</span></h6>
						 
					</li>
					<li class="grid-2"> 
					
						<div class="milestone-counter">
			
							<div class="stats animaper">
								<div class="num" data-content="70" data-num="70">0</div>
							</div>
						</div>
							 
						<h6><i class="fa fa-laptop fa-2x"></i><span>Websites published</span></h6>	
					</li>
				</ul> 
																		   
			</div>
		</div>
		-->		
	</div>  <!--===============  section facts end ===============-->