	<div id="intro">
	
		<div id="topSlide">
			<div id="slides">
				<ul class="slides-container">
				
				<!-- Slide 1 -->
				
					<li>
						<div class="rester"></div>
							<div class="container">
								<h3>A content agency</h3>
								<h1 class="white">We are <span>Level Up Labs</span></h1>
								<div class="patern clear"><span></span></div>
							</div>
			
						<div style="background-image: url('images/bg/skyline.jpg');" class="slides-big-img"></div>
					</li>
	
					<!-- Slide 2 -->
					
					<li>
						<div class="rester"></div>
							<div class="container">
								<h3>Engineered to produce</h3>				
								<h1 class="white"><span>Content</span> focussed solutions</h1>
								<div class="patern clear"><span class="right"></span></div>
							</div>
	
						<div style="background-image: url('images/bg/mountains.jpg');" class="slides-big-img"></div>
					</li>
		
					<!-- Slide 3 -->
					
					<li>
						<div class="rester"></div>
							<div class="container ">
								<h3>Great content sells</h3>					
								<h1 class="white">What are you <span>waiting</span> for?</h1>
								<div class="patern clear"><span></span></div>
							</div>
	
						<div style="background-image: url('images/photos/lul-jedi.jpg');" class="slides-big-img"></div>
					</li>
				</ul>

				<div class="slides-navigation">
				  <a href="#" class="prev"><i class="fa fa-long-arrow-left fa-2x"></i></a>
				  <a href="#" class="next"><i class="fa fa-long-arrow-right fa-2x"></i></a>
				</div>
				
  			</div>
			<a href="#about" class="start"><img src="images/start.png" alt="" title=""></a>
			
		</div> 
		
	</div><!--=============== intro end ===============-->