<div id="portfolio" class="sections ws">
	
	<div class="content">
	
		<div class="quote-icon"><i class="fa fa-suitcase"></i></div>
		<div class="container grid1">
			<h3 class="sections-head">Portfolio</h3>
			<h2>Our work</h2>
			
			<div class="small-separator"></div>	
			<p> Morbi faucibus, magna eu rhoncus cursus, ante augue sodales sapien, ac convallis lorem arcu ac risus. Vestibulum commodo tellus id felis porttitor pharetra. In metus magna, posuere at libero et, ultricies feugiat urna. Sed posuere malesuada commodo. </p>
		</div>
			
		<!-- portfolio filters -->

		<div id="options" class="clear">
	
		  <ul id="filters" class="option-set" data-option-key="filter">
		  
			<li class="filter actcat" data-filter="all">All</li>
			<li class="filter" data-filter="category_1">Web </li>
			<li class="filter" data-filter="category_2">Design</li>
			<li class="filter" data-filter="category_3">Branding</li>
			<li class="filter" data-filter="category_4">Video</li>
			
		  </ul>
		  
		</div> 

		
		<!-- Projects links -->
		
		<div class="aih">
		
			<ul id="folio_container" class="grid-full animaper">
			
			<!-- 1 project -->
			
				<li class="box  mix category_1 mix_all">
					<a href="#!projects/project-1.html">
						<img src="images/folio/1.jpg" class="respimg" alt="" title="">
						<div class="folio-name clear">
							<div class="folio-overlay">
								<span class="overlay red"></span>
								<h4>Vestibulum</h4>							
								<h6>design / web</h6>
							</div>
						</div>
					</a>
					
				</li>
				
			<!-- 2 project -->
				
				<li class="box mix category_4 mix_all">
					<a href="#!projects/project-2.html">
						<img src="images/folio/1.jpg" class="respimg" alt="" title="">
						<div class="folio-name clear">
							<div class="folio-overlay">
								<span class="overlay red"></span>
								<h4>Phasellus</h4>
								<h6>design / web</h6>
							</div>
						</div>
					</a>	
				</li>
				
			<!-- 3 project -->	
			
				<li class="box  mix category_3 mix_all">
					<a href="#!projects/project-3.html">
						<img src="images/folio/1.jpg" class="respimg" alt="" title="">
						<div class="folio-name clear">
							<div class="folio-overlay">
								<span class="overlay red"></span>
								<h4>Mauris</h4>
								<h6>branding / video</h6>
							</div>
						</div>
					</a>
				</li>
				
			<!-- 4 project -->
				
				<li class="box  mix category_4 mix_all">
					<a href="#!projects/project-4.html">
						<img src="images/folio/1.jpg" class="respimg" alt="" title="">
						<div class="folio-name clear">
							<div class="folio-overlay">
								<span class="overlay red"></span>
								<h4>Vivamus gravida</h4>
								<h6>branding / video</h6>
							</div>
						</div>
					</a>
				</li>
				
			<!-- 5 project -->	
			
				<li class="box mix category_2 mix_all">
					<a href="single-project.html">
						<img src="images/folio/1.jpg" class="respimg" alt="" title="">
						<div class="folio-name clear">
							<div class="folio-overlay">
								<span class="overlay red"></span>
								<h4>Aliquam</h4>
								<h6>Single Project</h6>
							</div>
						</div>
					</a>
				</li>
				
			<!-- 6 project -->
				
				<li class="box mix category_2 mix_all">
					<a href="#!projects/project-6.html">
						<img src="images/folio/1.jpg" class="respimg" alt="" title="">
						<div class="folio-name clear">
							<div class="folio-overlay">
								<span class="overlay red"></span>
								<h4>Fusce</h4>
								<h6>branding / design</h6>
							</div>
						</div>
					</a>	
				</li>
				
			<!-- 7 project -->	
			
				<li class="box mix category_3 mix_all">
					 <a href="#!projects/project-7.html">
						<img src="images/folio/1.jpg" class="respimg" alt="" title="">
						<div class="folio-name clear">
							<div class="folio-overlay">
								<span class="overlay red"></span>
								<h4>Integer a porta</h4>
								<h6>branding / web</h6>
							</div>
						</div>
					</a>	
				</li>
				
			<!-- 8 project -->
				
				<li class="box mix category_1 mix_all">
					<a href="#!projects/project-8.html">
						<img src="images/folio/1.jpg" class="respimg" alt="" title="">
						<div class="folio-name clear">
							<div class="folio-overlay">
								<span class="overlay red"></span>
								<h4>Sed nec</h4>
								<h6>Web / design</h6>
							</div>
						</div>
					</a>	
				</li>
				
			</ul>
			
		</div>

		 <!-- ajax-section -->
		 
		<div class="clear"></div>
		
		<div id="ajax-section">     
			<div id="loader"></div>
			<div id="ajax-content-outer">
				<div id="ajax-content-inner"></div>
			</div>
			<div id="project-navigation">
				<ul>
					<li id="prevProject"><a href="#"></a></li>
					<li id="nextProject"><a href="#"></a></li>
				</ul>  
			</div>
			<div id="closeProject">
				<div class="grid-3">
					<a href="#/">Close</a>
				</div>               
			</div>                  
		</div>
		<!-- ajax-section end -->
				
	</div>

</div>	<!--=============== section portfolio end ===============-->