<div id="portfolio" class="sections ws">
	
	<div class="content">
	
		<div class="quote-icon"><i class="fa fa-suitcase"></i></div>
		<div class="container grid1">
			<h3 class="sections-head">Portfolio</h3>
			<h2>Our work</h2>
			
			<div class="small-separator"></div>	
			<p>We're proud of what we do and here's a sample of what we've done so far ranging from songwriting, web to video content</p>
		</div>
			
		<!-- portfolio filters -->
		
		<div id="options" class="clear">
			<!--
		  <ul id="filters" class="option-set" data-option-key="filter">
		  
			<li class="filter actcat" data-filter="all">All</li>
			<li class="filter" data-filter="category_1">Web </li>
			<li class="filter" data-filter="category_2">Design</li>
			<li class="filter" data-filter="category_3">Branding</li>
			<li class="filter" data-filter="category_4">Video</li>
			
		  </ul>
		  -->
		</div> 
		
		
		<!-- Projects links -->
		
		<div class="aih">
		
			<ul id="folio_container" class="grid-full animaper">
			
			<!-- 1 project -->
			
				<li class="box mix category_1 mix_all">
					<a href="#!projects/project-1.html">
						<img src="images/folio/ob.jpg" class="respimg" alt="" title="">
						<div class="folio-name clear">
							<div class="folio-overlay">
								<span class="overlay red"></span>
								<h4>Ocean Butterflies</h4>							
								<h6>design / web / marketing</h6>
							</div>
						</div>
					</a>
					
				</li>
				
			<!-- 2 project -->
				
				<li class="box mix category_4 mix_all">
					<a href="#!projects/project-2.html">
						<img src="images/folio/amusic.jpg" class="respimg" alt="" title="">
						<div class="folio-name clear">
							<div class="folio-overlay">
								<span class="overlay red"></span>
								<h4>Amusic Rights Management</h4>
								<h6>design / web</h6>
							</div>
						</div>
					</a>	
				</li>
				
			<!-- 3 project -->	
			
				<li class="box  mix category_3 mix_all">
					<a href="#!projects/project-3.html">
						<img src="images/folio/sony.jpg" class="respimg" alt="" title="">
						<div class="folio-name clear">
							<div class="folio-overlay">
								<span class="overlay red"></span>
								<h4>Sony Electronics</h4>
								<h6>audio / video / marketing</h6>
							</div>
						</div>
					</a>
				</li>

				<li class="box  mix category_3 mix_all">
					<a href="#!projects/project-4.html">
						<img src="images/folio/1.jpg" class="respimg" alt="" title="">
						<div class="folio-name clear">
							<div class="folio-overlay">
								<span class="overlay red"></span>
								<h4>Flying Pandas</h4>
								<h6>audio</h6>
							</div>
						</div>
					</a>
				</li>

				<li class="box  mix category_3 mix_all">
					<a href="#!projects/project-5.html">
						<img src="images/folio/nokia.jpg" class="respimg" alt="" title="">
						<div class="folio-name clear">
							<div class="folio-overlay">
								<span class="overlay red"></span>
								<h4>Nokia</h4>
								<h6>web</h6>
							</div>
						</div>
					</a>
				</li>

				<li class="box mix category_3 mix_all">
					<a href="#!projects/project-6.html">
						<img src="images/folio/gakattack.jpg" class="respimg" alt="" title="">
						<div class="folio-name clear">
							<div class="folio-overlay">
								<span class="overlay red"></span>
								<h4>Gakattack</h4>
								<h6>DRM, audio</h6>
							</div>
						</div>
					</a>
				</li>
				
			</ul>
			
		</div>

		 <!-- ajax-section -->
		 
		<div class="clear"></div>
		
		<div id="ajax-section">     
			<div id="loader"></div>
			<div id="ajax-content-outer">
				<div id="ajax-content-inner"></div>
			</div>
			<div id="project-navigation">
				<ul>
					<li id="prevProject"><a href="#"></a></li>
					<li id="nextProject"><a href="#"></a></li>
				</ul>  
			</div>
			<div id="closeProject">
				<div class="grid-3">
					<a href="#/">Close</a>
				</div>               
			</div>                  
		</div>
		<!-- ajax-section end -->
				
	</div>

</div>	<!--=============== section portfolio end ===============-->