<div id="prices" class="sections ws">
	<div class="content">
	<div class="quote-icon"><i class="fa fa-usd"></i></div>
		<div class="container">
		<h3 class="sections-head">Pricing tables</h3>
			<h2>Our Prices</h2>
			
			<div class="small-separator"></div>
			
			<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis mollis nec leo at viverra. Ut quis malesuada urna. Nunc cursus aliquet est.</p>
			
			<div id="priceSlider" class="owl-carousel">	
			
				<!--1 plan -->	
					  
				<div class="item">
							
					<div class="plan">
						<ul class="planContainer transition2">
							<li><h3>Plan 1</h3></li>
							<li class="price">
								<div class="price-nominal"><span>$</span> 30 <span>.00</span></div>
								<div class="term">Per month</div>
							</li>
							<li>
								<ul class="options">
									<li class="nocolor">2x <span>option 1</span></li>
									<li>Free <span>option 2</span></li>
									<li class="nocolor">Unlimited <span>option 3</span></li>
									<li>Unlimited <span>option 4</span></li>
									<li class="nocolor">1x <span>option 5</span></li>
								</ul>
							</li>
							<li class="button"><a href="#contacts" class="order">Order</a></li>
						</ul>
					</div>
																			
				</div>
							
				<!--2 plan -->
							
				<div class="item">
							
					<div class="plan">
						<ul class="planContainer transition2">
							<li><h3>Plan 2</h3></li>
							<li class="price hot">
								<div class="price-nominal"><span>$</span> 70 <span>.00</span></div>
								<div class="term">Per month</div>
							</li>
							<li>
								<ul class="options">
									<li class="nocolor">2x <span>option 1</span></li>
									<li>Free <span>option 2</span></li>
									<li class="nocolor">Unlimited <span>option 3</span></li>
									<li>Unlimited <span>option 4</span></li>
									<li class="nocolor">1x <span>option 5</span></li>
								</ul>
							</li>
							<li class="button"><a href="#contacts" class="order hot">Order</a></li>
						</ul>
					</div>
																			
				</div>
							
				<!--3 plan -->
				<div class="item">
							
					<div class="plan">
						<ul class="planContainer transition2">
							<li><h3>Plan 3</h3></li>
							<li class="price">
								<div class="price-nominal"><span>$</span> 90 <span>.00</span></div>
								<div class="term">Per month</div>
							</li>
							<li>
								<ul class="options">
									<li class="nocolor">2x <span>option 1</span></li>
									<li>Free <span>option 2</span></li>
									<li class="nocolor">Unlimited <span>option 3</span></li>
									<li>Unlimited <span>option 4</span></li>
									<li class="nocolor">1x <span>option 5</span></li>
								</ul>
							</li>
							<li class="button"><a href="#contacts" class="order">Order</a></li>
						</ul>
					</div>
																			
				</div>
							
				<!--4 plan -->
				<div class="item">
							
					<div class="plan">
						<ul class="planContainer transition2">
							<li><h3>Plan 4</h3></li>
							<li class="price">
								<div class="price-nominal"><span>$</span> 120 <span>.00</span></div>
								<div class="term">Per month</div>
							</li>
							<li>
								<ul class="options">
									<li class="nocolor">2x <span>option 1</span></li>
									<li>Free <span>option 2</span></li>
									<li class="nocolor">Unlimited <span>option 3</span></li>
									<li>Unlimited <span>option 4</span></li>
									<li class="nocolor">1x <span>option 5</span></li>
								</ul>
							</li>
							<li class="button"><a href="#contacts" class="order">Order</a></li>
						</ul>
					</div>
																			
				</div>					
			</div>																
		</div>
	</div>				
</div><!--===============  section pricing end ===============-->	