	<div id="servises" class="sections">
	
		<div class="content">
		
			<div class="quote-icon"><i class="fa fa-cogs"></i></div>
			<div class="rester"></div>
			<div class="rester red"></div>
			
				<div class="container">
				<h3 class="sections-head white">What we do</h3>
					<h2 class="white">Services</h2>
					<div class="small-separator ws"></div>
					
					
					<p class="white">We offer a variety of services depending on the client. Each will be offered to dependent on your individual business needs.</p>
					
					<div class="row" id="service_boxes">
					
						<div class="service_box animaper">
						
							<a name="0" class="animbox">Digital Rights Management</a>
							
						</div>
						
						<div class="service_box actser animaper">
						
							<a name="1" class="animbox">Digital Strategy and Marketing</a>
							
						</div>
						
						<div class="service_box animaper">
						
							<a name="2"  class="animbox">Monetisation of Content</a>
							
						</div>
						
					</div> 
				</div>
				
				<div class="serviseslider-holder no-nav">
					<div class="container">
						<div class="serviseslider">
						
							<ul class="slides">
							
								<!-- fist-slide -->
								
								<li>
								
									<div class="icon-holder">
										<i class="fa fa-trophy fa-2x"></i>
									</div>
									
									<h3><span></span>Digital Rights Management<span></span></h3>
									
									<h4>Music / Video / Royalties</h4>
				
								<p>As a content creator you shouldn’t have to spend time working on copyright issues and rights management. We’ll handle that side so you can keep making great content and we’ll protect your interests and help it to flourish.</p>
				
								</li>
								
								<!-- second-slide -->
								
								<li>
								
									<div class="icon-holder">
										<i class="fa fa-heart-o fa-2x"></i>
									</div>
									
									<h3><span></span>Digital Strategy and Marketing<span></span></h3>
									<h4>Cross market collaborations / Lead generating campaigns</h4>
	
									<p>The best way to localize content has always been through the local media. Singaporean stars got big in Taiwan by partnering with local companies.Facebook conquered the net by being exclusive to University students. We can facilitate collaboration for our clients and content partners to maximize reach and effectiveness in local markets.</p>
				
								</li>
									
								<!-- third-slide -->
											
								<li>
								
									<div class="icon-holder">
										<i class="fa fa-pencil fa-2x"></i>
									</div>
									
									<h3><span></span>Monetisation<span></span></h3>
									<h4>Digital music / Video / Products</h4>
								
									<p>We will help you to make the most out of your content in the digital world by creating a monetization strategy to suit your company, whether you are a lone creator or a multinational corporation.</p>
					
							</li>
									
						</ul>
						
					</div>
		
				</div>
				
			</div>
		</div>
	</div><!--=============== section servises end ===============-->