<div id="subscribe" class="sections">
	<div class="content">
	<div class="quote-icon"><i class="fa fa-rss"></i></div>
		<div class="rester"></div>
		<div class="rester black"></div>
		<div class="container">
				
			<h3 class="sections-head">Subscribe</h3>
			<div class="small-separator ws"></div>
			<div class="clear"></div>
						
			<div class="subcribe">
				<span class="overlay suboverlay"></span>
				<fieldset>
					<form class="subscriptionForm" method="post">
						<input id="subscriptionForm" class="inputForm" type="text" value="Enter Your Email Address" onFocus="if (this.value=='Enter Your Email Address') this.value=''" onBlur="if (this.value==''){this.value='Enter Your Email Address'}" />
						<input type="submit" id="submitButton" class="transition" value="Send">
					</form>
					
					<div id="success">Thanks for your subscription</div>
					<div id="error">Please enter a valid email address</div>
					
				</fieldset>
			</div> 										
		</div>
	</div>	
</div>	<!--=============== section subscribe end ===============-->	