<div id="team" class="sections animaper ws">

	<div class="content">
	
		<div class="quote-icon"><i class="fa fa-male"></i></div>
	
		<div class="container">
		
			<h3 class="sections-head">Our team</h3>
			<h2>Meet our team</h2>
			<div class="clear"></div>
			<div class="small-separator sepcolor"></div>
			<div class="clear"></div>
			<p> We small, friendly and talented team. We help our customers gain popularity in the online world.</p>
			<div class="member-box  animaper">
						
				<div class="moreinfo notvisible">
					<img src="images/photos/hua.jpg" class="member-photo respimg" alt="" title="">
					<div class="member-skils">
						<div class="overlay  team-overlay"></div>
						<div class="skillbar-holder ms">				
								
							<div class="skillbar-title-member"><span>Awesome level</span></div>					
							<div class="skill-bar-percent-member">100%</div>					
							<div class="skillbar-member" data-percent="45%">
								<div class="skillbar-bar-member"></div>
							</div>
										
							<div class="skillbar-title-member"><span>Music stuff</span></div>
							<div class="skill-bar-percent-member">8%</div>
							<div class="skillbar-member" data-percent="8%">
								<div class="skillbar-bar-member"></div>
							</div>
										
							<div class="skillbar-title-member"><span>Digital rights management</span></div>
							<div class="skill-bar-percent-member">6%</div>
							<div class="skillbar-member" data-percent="6%">
								<div class="skillbar-bar-member"></div>
							</div>	
																
						</div>
					<div class="clear"></div>	
					<p class="clear">Hua is Canadian Born Chinese who specialises in being awesome. He's also a pretty good song writer, is passionate about music and knows a thing or two about digital rights management</p>
							
						<div class="member-social-list">	
											
							<ul>							
								<li><a href="#"  target="_blank" class="transition"><i class="fa fa-facebook fa-1x"></i></a></li>
								<li><a href="#"  target="_blank" class="transition"><i class="fa fa-linkedin fa-1x"></i></a></li>
								<li><a href="#"  target="_blank" class="transition"><i class="fa fa-twitter fa-1x"></i></a></li>								
							</ul>	
									
						</div>
					</div>
				</div> 
							  
				<h3>Hua Chang Lee 李華章</h3>
							
				<span>Chief Executive Awesome</span>
																
			</div>
						
			<!-- member 2 -->
						
			<div class="member-box animaper">
						
				<div class="moreinfo notvisible">
					<img src="images/photos/jeff.jpg" class="member-photo respimg" alt="" title="">
					<div class="member-skils">
						<div class="overlay  team-overlay"></div>
						<div class="skillbar-holder ms">
								
							<div class="skillbar-title-member" ><span>Being a badass</span></div>
							<div class="skill-bar-percent-member">100%</div>
							<div class="skillbar-member" data-percent="85%">
								<div class="skillbar-bar-member"></div>
							</div>
										
							<div class="skillbar-title-member" ><span>Technology stuff</span></div>
							<div class="skill-bar-percent-member">7%</div>
							<div class="skillbar-member" data-percent="7%">
								<div class="skillbar-bar-member"></div>
							</div>
										
							<div class="skillbar-title-member" ><span>Making stuff pretty</span></div>
							<div class="skill-bar-percent-member">5%</div>
							<div class="skillbar-member" data-percent="5%">
								<div class="skillbar-bar-member"></div>
							</div>	
																
						</div>
						<div class="clear"></div>	
						<p class="clear">Jeff is a British Born Chinese mainly focussed on being a badass. Other than that he makes a mean website, has a passion for learning languages and makes things pretty</p>
							
						<div class="member-social-list">
							
							<ul>							
								<li><a href="#"  target="_blank" class="transition"><i class="fa fa-facebook fa-1x"></i></a></li>
								<li><a href="#"  target="_blank" class="transition"><i class="fa fa-twitter fa-1x"></i></a></li>
								<li><a href="#"  target="_blank" class="transition"><i class="fa fa-dribbble fa-1x"></i></a></li>								
							</ul>
								
						</div>
					</div>
				</div>
											
				<h3>Jeff Lau 劉文忠</h3>
				<span>Chief Technical Badass</span>
											  
			</div>
			
			</div>
			
		</div>	
		
	</div>	<!--===============  section team end ===============-->