<div id="testimonials" class="sections">
	<div class="content">
		<div class="quote-icon"><i class="fa fa-quote-right"></i></div>
		<div class="rester"></div>
		<div class="rester black"></div>
		
		<div class="container">
		

			
			
			<div class="clear"></div>
			
				<div id="clientsay" class="owl-carousel">
				
				<!--1 testimontal -->
				
					<div class="item">
				
						<p>" Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit  "</p>
						<span>- Quincafe Via Facebook -</span>
						
					</div>
					
				<!--2 testimontal -->
					
					<div class="item">

						<p>" Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis mollis nec leo at viverra. Ut quis malesuada urna. Nunc cursus aliquet est "</p>
						<span>- Bayzug via Twitter -</span>
						
					</div>

				<!--3 testimontal -->
					
					<div class="item">
	
						<p>" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form "</p>
						<span>- Evroname via Facebook -</span>
						
					</div>
					
				</div>
			
			</div>
						
	</div>
	
</div> <!--=============== section testimontal end ===============-->