<div id="testimonials" class="sections">
	<div class="content">
		<div class="quote-icon"><i class="fa fa-quote-right"></i></div>
		<div class="rester"></div>
		<div class="rester black"></div>
		
		<div class="container">
		

			
			
			<div class="clear"></div>
			
				<div id="clientsay" class="owl-carousel">
				
				<!--1 testimontal -->
				
					<div class="item">
				
						<p>"Your passion and dedication in work has won many of my friends' heart in the industry who have viewed our website, especially from PRC. They were very surprised at the speed that this website can get into one piece. "</p>
						<span>- Billy Koh, Amusic Rights Management -</span>
						
					</div>
					
				</div>
			
			</div>
						
	</div>
	
</div> <!--=============== section testimontal end ===============-->